--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE adminapp;
ALTER ROLE adminapp WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:7zmoZe0XsJ+eKHcsT7obdw==$PkhVz2KlvJ42aG7zwsr4jRyEeLK6M562WY20Tyl3//k=:/FRNjm0ycuuNgeMosq99nUc+e7/NIWV4Vk75E8gEB+E=';
CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:tTdV7igQ6o9+CDgHXISylg==$qu8EMh/Z96iczk4+/xlGgAhf1quw7pp/CfoKxN9eROw=:Hps4v1efBrcyhDKYYD6yt1pw0oX43DUxJQOFeVBNfNw=';
CREATE ROLE qadmin;
ALTER ROLE qadmin WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:A4zdZ6g7kRDH2jlgxY1aDQ==$WpzQB0aDgWHqJvqVGTV4OnEDHQva7AHif+8lIoQojbU=:+xKARN08Veb7IVYbkgiX0zAwN+71gI6OgTHagM/ebxw=';
CREATE ROLE qdb;
ALTER ROLE qdb WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:pWeiVGSyU+fexv7NaWXFpA==$BO4j1RtV9wCkDe7vmyHNPx3Ieogilr/hdX+DJYoVVjE=:8YCnruA7mr6Y54iN4AELgOKwOTCHXmogLevt6krXAoo=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


--
-- PostgreSQL database dump complete
--

--
-- Database "questionsDB" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6
-- Dumped by pg_dump version 16.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: questionsDB; Type: DATABASE; Schema: -; Owner: qdb
--

CREATE DATABASE "questionsDB" WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'Russian_Russia.1251';


ALTER DATABASE "questionsDB" OWNER TO qdb;

\connect "questionsDB"

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: new_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.new_questions (
    id integer NOT NULL,
    name_user text DEFAULT 'Nameless'::text,
    mail text NOT NULL,
    question text NOT NULL,
    date date
);


ALTER TABLE public.new_questions OWNER TO postgres;

--
-- Name: new_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.new_questions ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.new_questions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    "QID" integer NOT NULL,
    "TID" integer NOT NULL,
    question_en text NOT NULL,
    answer_en text NOT NULL,
    question_ru text NOT NULL,
    answer_ru text NOT NULL
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: questions_QID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.questions ALTER COLUMN "QID" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."questions_QID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: type_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.type_questions (
    "TID" integer NOT NULL,
    data_en text NOT NULL,
    data_ru text NOT NULL,
    status integer DEFAULT 2 NOT NULL
);


ALTER TABLE public.type_questions OWNER TO postgres;

--
-- Name: type_questions_TID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.type_questions ALTER COLUMN "TID" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."type_questions_TID_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: new_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.new_questions (id, name_user, mail, question, date) FROM stdin;
2	Ivan Petrov	ivan.petrov@example.com	Where is the 'I' building?	\N
3	Ivan Petrov	ivan.petrov@example.com	Where can I print documents?	\N
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: type_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.type_questions ("TID", data_en, data_ru, status) FROM stdin;
7	Documents	╨Ф╨╛╨║╤Г╨╝╨╡╨╜╤В╤Л	1
8	Education	╨Ю╨▒╤А╨░╨╖╨╛╨▓╨░╨╜╨╕╨╡	2
9	Entertainment	╨а╨░╨╖╨▓╨╗╨╡╤З╨╡╨╜╨╕╨╡	2
10	Food	╨Х╨┤╨░	2
11	Health	╨Ч╨┤╨╛╤А╨╛╨▓╤М╨╡	2
12	Transport	╨в╤А╨░╨╜╤Б╨┐╨╛╤А╤В	2
13	Useful informations	╨Я╨╛╨╗╨╡╨╖╨╜╨░╤П ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤П	2
\.


--
-- Name: new_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.new_questions_id_seq', 3, true);


--
-- Name: questions_QID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."questions_QID_seq"', 20, true);


--
-- Name: type_questions_TID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."type_questions_TID_seq"', 13, true);


--
-- Name: new_questions new_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.new_questions
    ADD CONSTRAINT new_questions_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY ("QID");


--
-- Name: type_questions type_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_questions
    ADD CONSTRAINT type_questions_pkey PRIMARY KEY ("TID");


--
-- Name: questions questions_TID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT "questions_TID_fkey" FOREIGN KEY ("TID") REFERENCES public.type_questions("TID") NOT VALID;


--
-- Name: DATABASE "questionsDB"; Type: ACL; Schema: -; Owner: qdb
--

GRANT CONNECT ON DATABASE "questionsDB" TO qadmin;


--
-- Name: TABLE new_questions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT ON TABLE public.new_questions TO qdb;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.new_questions TO qadmin;


--
-- Name: TABLE questions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.questions TO qdb;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.questions TO qadmin;


--
-- Name: TABLE type_questions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.type_questions TO qdb;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.type_questions TO qadmin;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

